/* Стили для фотогалереи меню сайта*/
.block-photogallery
	margin: 0
	padding: 0
	display: grid
	grid-template-columns: 1fr 1fr 1fr
	grid-gap: 0.7em
	.album-item
		margin: 0
		padding: 0
		.album-container
			position: relative
			cursor: pointer
			padding: 0
			margin: 0
			border-radius: 0.3em
			border: 0.1em solid #FFFFFF
			box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.27), 0 0 4em rgba(0, 0, 0, 0.06) inset
			&:hover
				border: 0.1em solid #CB1A33
				box-shadow: 0 0.1em 0.4em rgba(203, 26, 51, 0.8), 0 0 4em rgba(0, 0, 0, 0.06) inset	
			.album-image
				img
					margin: 0
					padding: 0
					border-radius: 0.3em
					display: block
			.album-title
				margin: 0
				padding: 2%
				position: absolute
				bottom: 2em
				background: #ED3237
				width: 96%
				height: 2.8em
				color: #FFFFFF
				overflow: hidden
				text-transform: uppercase
				opacity: 0.8
				text-align: center				

/* Стили для разных разрешений */
@media screen and (min-width: 0px) and (max-width: 1280px)
	body


@media screen and (min-width: 0px) and (max-width: 1024px)
	body


@media screen and (min-width: 0px) and (max-width: 768px)
	body

	.block-photogallery
		grid-template-columns: 1fr 1fr

@media screen and (min-width: 0px) and (max-width: 600px)
	body

	.block-photogallery
		grid-template-columns: 1fr			


@media screen and (min-width: 0px) and (max-width: 480px)
	body

	
@media screen and (min-width: 0px) and (max-width: 320px)
	body



