{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block css_additional %}
{% endblock %}

{% block content %}
    <div class="padding-05em">
        <h1>{{ tour.title }}</h1>
        <div class="tour-detail">

            {% if tour.image %}
            <div class="tour-image">
                {% thumbnail tour.image "350x300" crop="center" as img %}
                    <img src="{{ img.url }}" />
                {% endthumbnail %}
            </div>
            {% endif %}                             
            <div class="tour-short-desc">
                <div class="tour-star">
                    {% for _ in '_'|rjust:tour.star %}
                        <img src="{% static 'tour/images/icon-star.png' %}" />
                    {% endfor %}
                </div>
                <div class="tour-short-description">
                    <div class="short-icon"><img src="{% static 'tour/images/icon-car.png' %}" /></div><div class="short-desc">Парковка</div>
                    <div class="short-icon"><img src="{% static 'tour/images/icon-beach.png' %}" /></div><div class="short-desc">Оборудованный пляж</div>
                    <div class="short-icon"><img src="{% static 'tour/images/icon-open-swim.png' %}" /></div><div class="short-desc">Открытый басеин</div>
                    <div class="short-icon"><img src="{% static 'tour/images/icon-swim.png' %}" /></div><div class="short-desc">Закрытый басеин</div>
                    <div class="short-icon"><img src="{% static 'tour/images/icon-spa.png' %}" /></div><div class="short-desc">СПА салон</div>
                </div>
            </div>
            <div class="tour-cost-order">
                <div class="tour-price">
                    {{ tour.price|floatformat:"g" }} руб.
                </div>
                <!-- div class="tour-order">
                    <a href="/" class="button-red">Забронировать</a>
                </div -->
            </div>             
            <div class="tour-body">{% autoescape off %}{{ tour.body }}{% endautoescape %}</div>
        </div>
        <div class="webform-tour-order">
            <hr />
            <div class="webform-order">
                <h1>Забронировать тур</h1>
                {% if messages %}
                <div class="webform-messages">
                    {% for message in messages %}
                    <div  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </div>
                    {% endfor %}
                </div>
                {% endif %}    
                <div class="webform-context">    
                    <form action="{% url 'tour_detail' tour.slug %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %} 
                        <div class="form-error">{{ form.non_field_errors }}</div>
                        <div class="webform-context-fields">   
                        {% for field in form %}                       
                            <div class="form-field field-{{ field.name }}">
                                {{ field }}
                                <div class="form-error">          
                                    <div class="form-error">{{ field.errors }}</div>
                                </div>
                            </div>
                        {% endfor %}
                            <div class="form-field field-submit"><input type="submit" class="submit" value="Забронировать" /></div>
                        </div>
                    </form>                     
                </div>
            </div>            
        </div>
    </div>
{% endblock %}