@charset "UTF-8";
/* Стили для главного меню сайта*/
nav ul.main-menu-list {
  position: relative;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

nav ul.main-menu-list li {
  margin: 0;
  padding: 0;
}

nav ul.main-menu-list li a {
  margin: 0;
  padding: 0.4em 0.7em 0.2em 0.7em;
  text-decoration: none;
  color: #FFFFFF;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 0.1em solid transparent;
}

nav ul.main-menu-list li a:hover {
  border-bottom: 0.1em solid #FFFFFF;
  border-radius: 0.5em;
  background: #FFFFFF;
  color: #668097;
}

.footer-main-menu ul.main-menu-list {
  position: relative;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.footer-main-menu ul.main-menu-list li {
  margin: 0;
  padding: 0;
}

/* Стили для разных разрешений */
@media screen and (min-width: 0px) and (max-width: 600px) {
  nav ul.main-menu-list {
    margin-top: -100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  nav ul.main-menu-list.active {
    margin-top: 0%;
  }
  nav ul.main-menu-list li {
    margin: 0 auto;
  }
  nav .main-menu-icon {
    display: block;
  }
}
