{% load static %}
{% load thumbnail %}
<div class="feedback-all"><a href="{% url 'feedback_list' %}">Все отзывы >></a></div>
<div class="js-slider feedback">
    {% for feedback in feedbacks %}
    <div class="js-slider-item feedback-item">

            <div class="feedback-content">
                <div class="feedback-date">{{ feedback.datetime_create|date:"d.m.Y" }}</div>
                <div class="feedback-star">
                    {% for i in '12345' %}
                        {% if i|add:"0" <= feedback.rating %}
                            <img src="{% static 'feedback/images/icon-star.png' %}" />
                        {% else %}
                            <img src="{% static 'feedback/images/icon-star-off.png' %}" />
                        {% endif %}
                    {% endfor %}
                </div>                    
                <div class="feedback-fio">{{ feedback.fio }}</div>
                <hr />
                <div class="feedback-description js-feedback-description">
                    {{ feedback.body }}
                </div>
            </div>

    </div>
    {% endfor %}
</div>