/* Стли для блока наши услуги на главной */
.block-services-grid
	margin: 0
	padding: 0
	display: grid
	grid-template-columns: 1fr 1fr 1fr 1fr
	grid-template-rows: 1fr 1fr
	grid-gap: 0.7em
	.service-item
		margin: 0
		padding: 0
		cursor: pointer
		&.tow-row
			grid-column: 4
			grid-row: 1 / span 2
		.service-image
			position: relative
			padding: 0
			margin: 0
			width: 100%
			height: 100%
			border-radius: 0.3em
			border: 0.1em solid #FFFFFF
			box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.27), 0 0 4em rgba(0, 0, 0, 0.06) inset
			&:hover
				border: 0.1em solid #CB1A33
				box-shadow: 0 0.1em 0.4em rgba(203, 26, 51, 0.8), 0 0 4em rgba(0, 0, 0, 0.06) inset				
		.service-title
			margin: 0
			padding: 2%
			position: absolute
			bottom: 3em
			background: #ED3237
			width: 96%
			height: 2.8em
			color: #FFFFFF
			overflow: hidden
			text-transform: uppercase
			opacity: 0.8
			text-align: center
		.service-price
			position: absolute
			bottom: 1em
			color: #FFFFFF
			width: 100%
			text-align: center
			font-weight: bold
		.service-stiker-new
			position: absolute
			top: 0
	
	
/* Стили для услуг на страницах*/
.block-services
	margin: 0
	padding: 0
	display: grid
	grid-template-columns: 1fr 1fr 1fr
	grid-gap: 0.7em
	.service-item
		margin: 0
		padding: 0

				
.servcie-container
	position: relative
	padding: 0.5em
	margin: 0
	background: #FFFFFF
	border-radius: 0.3em
	border: 0.1em solid #FFFFFF
	box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.27), 0 0 4em rgba(0, 0, 0, 0.06) inset
	cursor: pointer
	&::after
		content: ''
		display: block
		height: 0
		clear: both
	&:hover
		border: 0.1em solid #CB1A33
		box-shadow: 0 0.1em 0.4em rgba(203, 26, 51, 0.8), 0 0 4em rgba(0, 0, 0, 0.06) inset	
	.servcie-image
		margin: 0
		padding: 0
		overflow: hidden
		border-radius: 0.3em
		border: 0.1em solid #FFFFFF
		box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.27), 0 0 4em rgba(0, 0, 0, 0.06) inset		
		img
			width: 100%
			height: 100%
			display: block
	.service-title
		margin: 0.5em 0 0 0
		padding: 0
		color: #668097
		height: 1.2em
		overflow: hidden
		font-size: 1.2em
	.service-category
		margin: 0
		padding: 0.5em 0 0 0
		font-size: 0.9em
		font-style: italic
		text-align: right
	.service-price
		position: relative
		display: inline-block
		margin: 1em 0 0.5em 1em
		padding: 0.4em 0.4em 0.4em 1.4em
		background: #ED3237
		background-size: auto 100%
		font-weight: bold
		font-size: 1.2em
		color: #FFFFFF
		font-style: italic
		height: 1.2em
		float: right
		border: 0.1em solid #FFFFFF
		border-radius: 0.3em	
		clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 20% 100%, 0 50%)
		border: 0.1em solid #FFFFFF				

.service-detail
	.servcie-image
		padding: 0
		margin: 0 1em 1em 0
		border-radius: 0.3em
		border: 0.1em solid #FFFFFF
		box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.27), 0 0 4em rgba(0, 0, 0, 0.06) inset
		float: left
		img
			width: 100%
			height: 100%		
			border-radius: 0.3em		
			display: block

/* Стили для разных разрешений */
@media screen and (min-width: 0px) and (max-width: 1280px)
	body


@media screen and (min-width: 0px) and (max-width: 1024px)
	body


@media screen and (min-width: 0px) and (max-width: 768px)
	body
	
	.block-services
		grid-template-columns: 1fr 1fr

@media screen and (min-width: 0px) and (max-width: 600px)
	body

	.block-services
		grid-template-columns: 1fr 1fr

@media screen and (min-width: 0px) and (max-width: 480px)
	body

	
@media screen and (min-width: 0px) and (max-width: 320px)
	body



