{% extends 'base.html' %}
{% load static %}
{% load categories %}

{% block css_additional %}{% endblock %}
{% block js_additional %}{% endblock %}

{% block content %}

    {% show_categories_grid %}

<!-- div class="block-tour-operator">
    <h1>Туроператоры</h1>
    <div class="js-carousel-tour-operator carousel-tour-operator">
        <ul class="tour-operator">
            <li class="operator-item"><div class="operator-logo"><img src="{% static 'page/images/frame.png' %}" alt=""></div></li>
            <li class="operator-item"><div class="operator-logo"><img src="{% static 'page/images/frame-1.png' %}" alt=""></div></li>
            <li class="operator-item"><div class="operator-logo"><img src="{% static 'page/images/frame-2.png' %}" alt=""></div></li>
            <li class="operator-item"><div class="operator-logo"><img src="{% static 'page/images/frame-3.png' %}" alt=""></div></li>
            <li class="operator-item"><div class="operator-logo"><img src="{% static 'page/images/frame-4.png' %}" alt=""></div></li>
            <li class="operator-item"><div class="operator-logo"><img src="{% static 'page/images/frame-5.png' %}" alt=""></div></li>
        </ul>
        <!-- a href="#" class="js-carousel-prev carousel-prev">&lsaquo;</a>
        <a href="#" class="js-carousel-next carousel-next">&rsaquo;</a -->
    <!-- /div>
</div -->

<div class="block-slogan-director margin-top-1em">
    <div class="block-slogan-director-content">
    <h1>Обращение руководителя</h1>
    <div class="slogan-container">
        <div class="slogan-foto slogan-item">
            <img src="{% static 'page/images/director.png' %}" alt="" />
        </div>
        <div class="slogan-text slogan-item">
            Запланированный отпуск ждал нас в Турции. Но наша любимая компания  в лице менеждера Яночки предложили нам отличную замену. Немного сомневались,стоит ли с детьми ехать в другую страну, в Турции все было уже родное. Но муж взял на себя всю ответсвенность и вот мы в Ларнаке. Очень миленько. Возможно даже вернемся.
        </div>
    </div>
</div>
</div>

{% endblock %}