{% extends 'base.html' %}
{% load static %}

{% block css_additional %}
    <link rel="stylesheet" href="{% static 'menu/css/menu.css'%}">
{% endblock %}

{% block content %}

<div class="padding-05em">
    <h1>Наши услуги</h1>
    <div class="block-service">
        <div class="service-item one-row">
            <div class="service-image" style="background: url('{% static 'page/images/usluga-1.jpg' %}') no-repeat center center; background-size: cover;">
                <img src="{% static 'page/images/usluga-none.png' %}" />
                <div class="service-title">Туры для школьников</div>
                <div class="service-price">от 700 руб.</div>                                                                    
            </div>
        </div>
        <div class="service-item one-row">
            <div class="service-image" style="background: url('{% static 'page/images/usluga-2.jpg' %}') no-repeat center center; background-size: cover;">
                <div class="service-title">Автобусные туры</div>
                <div class="service-price">от 700 руб.</div>                                                                    
            </div>                                    
        </div>
        <div class="service-item one-row">
            <div class="service-image" style="background: url('{% static 'page/images/usluga-3.jpg' %}') no-repeat center center; background-size: cover;">
                <div class="service-title">Выходные туры</div>
                <div class="service-price">от 700 руб.</div>                                                                    
            </div>                                    
        </div>
        <div class="service-item one-row">
            <div class="service-image" style="background: url('{% static 'page/images/usluga-5.jpg' %}') no-repeat center center; background-size: cover;">
                <div class="service-title">Морские туры</div>
                <div class="service-price">от 700 руб.</div>                                                                    
            </div>                                    
        </div>
        <div class="service-item one-row">
            <div class="service-image" style="background: url('{% static 'page/images/usluga-6.jpg' %}') no-repeat center center; background-size: cover;">
                <div class="service-title">Потарочный сертификат</div>
                <div class="service-price">от 700 руб.</div>                                                                    
            </div>                                    
        </div>
        <div class="service-item one-row">
            <div class="service-image" style="background: url('{% static 'page/images/usluga-7.jpg' %}') no-repeat center center; background-size: cover;">
                <div class="service-title">Туты в рассрочку</div>
                <div class="service-price">от 700 руб.</div>                                                                    
            </div>                                    
        </div>
        <div class="service-item tow-row">
            <div class="service-image" style="background: url('{% static 'page/images/usluga-4.jpg' %}') no-repeat center center; background-size: cover;">
                <div class="service-title">Романтические встречи</div>
                <div class="service-price">от 700 руб.</div>
                <div class="service-stiker-new">
                    <img src="{% static 'page/images/stiker-new.png' %}" />
                </div>                                                               
            </div>                                    
        </div>
    </div>
</div>

<div class="block-tour-operator">
    <h1>Туроператоры</h1>
    <div class="js-carousel-tour-operator carousel-tour-operator">
        <ul class="tour-operator">
            <li class="operator-item"><div class="operator-logo"><img src="{% static 'page/images/frame.png' %}" alt=""></div></li>
            <li class="operator-item"><div class="operator-logo"><img src="{% static 'page/images/frame-1.png' %}" alt=""></div></li>
            <li class="operator-item"><div class="operator-logo"><img src="{% static 'page/images/frame-2.png' %}" alt=""></div></li>
            <li class="operator-item"><div class="operator-logo"><img src="{% static 'page/images/frame-3.png' %}" alt=""></div></li>
            <li class="operator-item"><div class="operator-logo"><img src="{% static 'page/images/frame-4.png' %}" alt=""></div></li>
            <li class="operator-item"><div class="operator-logo"><img src="{% static 'page/images/frame-5.png' %}" alt=""></div></li>
        </ul>
        <!-- a href="#" class="js-carousel-prev carousel-prev">&lsaquo;</a>
        <a href="#" class="js-carousel-next carousel-next">&rsaquo;</a -->
    </div>
</div>

<div class="block-slogan-director margin-top-1em">
    <div class="block-slogan-director-content">
    <h1>Обращение руководителя</h1>
    <div class="slogan-container">
        <div class="slogan-foto slogan-item">
            <img src="{% static 'page/images/director.png' %}" alt="" />
        </div>
        <div class="slogan-text slogan-item">
            Запланированный отпуск ждал нас в Турции. Но наша любимая компания  в лице менеждера Яночки предложили нам отличную замену. Немного сомневались,стоит ли с детьми ехать в другую страну, в Турции все было уже родное. Но муж взял на себя всю ответсвенность и вот мы в Ларнаке. Очень миленько. Возможно даже вернемся.
        </div>
    </div>
</div>
</div>

{% endblock %}