{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block css_additional %}
    <link rel="stylesheet" href="{% static 'photogallery/css/photogallery.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'photogallery/fancybox/jquery.fancybox.css'%}" media="screen" />
{% endblock %}

{% block js_additional %}
    <script type="text/javascript" src="{% static 'photogallery/fancybox/jquery.fancybox.js'%}"></script>   
    <script type="text/javascript" src="{% static 'photogallery/js/photogallery.js'%}"></script>
{% endblock %}

{% block content %}
    <h1>{{ album.title }}</h1>
    <div class="padding-05em">
        {% if album.album_photos.all %}
        <div class="block-photogallery">
            {% for photo in album.album_photos.all %}
                <div class="album-item">
                    <div class="album-container">
                        <div class="album-image">
                            <a class="js-photogallery" data-fancybox="{{ album.slug }}" data-caption="{{ album.title }}" href="{{ photo.image.url }}">
                                {% thumbnail photo.image "300x250" crop="center" as img %}
                                    <img src="{{ img.url }}" />
                                {% endthumbnail %}
                            </a>
                        </div>               
                    </div>  
                </div>
            {% endfor %}
        </div>       
        {% endif %} 
    </div>
{% endblock%}