@charset "UTF-8";
/* Стили для формы оставить отзыв */
.webform-feedback {
  margin: 1em 0;
  padding: 1em;
  border-radius: 0.3em;
  border: 0.1em solid #FFFFFF;
  -webkit-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.27), 0 0 4em rgba(0, 0, 0, 0.06) inset;
          box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.27), 0 0 4em rgba(0, 0, 0, 0.06) inset;
}

.webform-feedback h1 {
  margin: 0 0 1em 0;
}

.webform-feedback .webform-messages {
  margin: 0;
  padding: 0.5em;
}

.webform-feedback .webform-context {
  margin: 0;
  padding: 0;
}

.webform-feedback .webform-context .webform-context-fields {
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
}

.webform-feedback .webform-context .webform-context-fields .form-field {
  margin: 0;
  padding: 0;
}

.webform-feedback .webform-context .webform-context-fields .form-field input {
  width: 99%;
}

.webform-feedback .webform-context .webform-context-fields .form-field select, .webform-feedback .webform-context .webform-context-fields .form-field textarea {
  width: 98%;
}

.webform-feedback .webform-context .webform-context-fields .field-body, .webform-feedback .webform-context .webform-context-fields .field-submit {
  grid-column: span 2;
}

/* Стили для отзывов на странице */
.feedback-container {
  margin: 0;
  padding: 0;
}

.feedback-container .feedback-item {
  margin: 0;
  padding: 0;
}

.feedback-container .feedback-item .feedback-content {
  margin: 0;
  padding: 0.5em;
  border-radius: 0.3em;
  border: 0.1em solid #FFFFFF;
  -webkit-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.27), 0 0 4em rgba(0, 0, 0, 0.06) inset;
          box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.27), 0 0 4em rgba(0, 0, 0, 0.06) inset;
}

.feedback-container .feedback-item .feedback-content:hover {
  background: #FFFFFF;
  border: 0.1em solid #CB1A33;
  -webkit-box-shadow: 0 0.1em 0.4em rgba(203, 26, 51, 0.8), 0 0 4em rgba(0, 0, 0, 0.06) inset;
          box-shadow: 0 0.1em 0.4em rgba(203, 26, 51, 0.8), 0 0 4em rgba(0, 0, 0, 0.06) inset;
}

.feedback-container .feedback-item .feedback-content .feedback-date {
  color: #556A7D;
  font-style: italic;
  font-size: 0.9em;
}

.feedback-container .feedback-item .feedback-content .feedback-fio {
  font-weight: bold;
}

.feedback-container .feedback-item .feedback-content .feedback-star {
  float: right;
}

.feedback-container .feedback-item .feedback-content .feedback-description {
  position: relative;
  text-align: justify;
  overflow: hidden;
  cursor: pointer;
  max-height: 2.8em;
  -webkit-transition: max-height 3s cubic-bezier(0, 1, 0, 1);
  transition: max-height 3s cubic-bezier(0, 1, 0, 1);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.feedback-container .feedback-item .feedback-content .feedback-description .fogunderbutton {
  width: 100%;
  height: 2em;
  position: absolute;
  bottom: 0;
  right: 0;
}

.feedback-container .feedback-item .feedback-content .feedback-description.active {
  -webkit-line-clamp: none;
  max-height: 100vh;
  -webkit-transition: max-height 2s ease-in-out;
  transition: max-height 2s ease-in-out;
}

/*				transition: all 0.5s ease-in-out */
/* Стили для слайдера */
.js-slider {
  position: relative;
  min-width: 0;
}

.js-slider .slick-arrow {
  display: block;
  position: absolute;
  cursor: pointer;
  border: none;
  top: 40%;
  z-index: 10;
  font-size: 0;
  width: 20px;
  height: 60px;
}

.js-slider .slick-prev {
  left: 0;
  background: url(../images/st-left.png) no-repeat;
  background-size: cover;
}

.js-slider .slick-next {
  right: 0;
  background: url(../images/st-right.png) no-repeat;
  background-size: cover;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-track .feedback-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5em 1em;
}

.feedback-content {
  margin: 0 1em;
  padding: 0.5em;
  border-radius: 0.3em;
  border: 0.1em solid #FFFFFF;
  -webkit-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.27), 0 0 4em rgba(0, 0, 0, 0.06) inset;
          box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.27), 0 0 4em rgba(0, 0, 0, 0.06) inset;
}

.feedback-content .feedback-date {
  color: #556A7D;
  font-style: italic;
  font-size: 0.9em;
}

.feedback-content .feedback-fio {
  font-weight: bold;
}

.feedback-content .feedback-star {
  float: right;
}

.feedback-content .feedback-description {
  position: relative;
  text-align: justify;
}

/* Стили для разных разрешений */
